.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        user-name
      .main-chat__group-info__left-box__member
        Member : user-name
    .main-chat__group-info__edit-box
      = link_to "Edit", "#", class: "main-chat__group-info__edit-box__btn"
  .main-chat__message-list
    .main-chat__message-list__box
      .main-chat__message-list__box__upload
        .main-chat__message-list__box__upload__name
          user-name
        .main-chat__message-list__box__upload__date
          2020/04/26[Sun] 15:00
      .main-chat__message-list__box__message
        Hello!
    .main-chat__message-list__box
      .main-chat__message-list__box__upload
        .main-chat__message-list__box__upload__name
          user-name
        .main-chat__message-list__box__upload__date
          2020/04/27[mon] 07:00
      .main-chat__message-list__box__message
        Morning!
  .main-chat__message-form